{% extends 'scan/base.html' %}
{% load static %}

{% block meta_tags %}
    <meta name="description" content="{{ configs.0.description }}">
    <meta name="author" content="{{ configs.0.author }}">
    <meta name="keywords" content="{{ configs.0.keywords }}">
    <meta name="robots" content="{{ configs.0.robots }}">
    <meta property="og:title" content="{{ configs.0.title }}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ configs.0.description }}" />
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{{ configs.0.title }}"/>
    <meta name="twitter:description" content="{{ configs.0.description }}"/>
    <meta name="twitter:site" content="@{{ configs.0.twitter_user }}"/>
    <meta name="twitter:creator" content="@{{ configs.0.twitter_user }}"/>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebPage",
            "name": "{{ configs.0.title }}",
            "description": "{{ configs.0.description }}",
            "publisher": {
                "@type": "ProfilePage",
                "name": "{{ configs.0.author }}'s Website"
            }
        }
    </script>
{% endblock meta_tags %}

{% block title %}
    {{ configs.0.title }}
{% endblock title %}

{% block content %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Scan your website</h1>
            <p class="lead text-muted">What's your url?</p>

            <form class="forms-sample" action="" method="POST">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3">https://example.com/</span>
                        <input type="text" class="form-control" name="url" id="url" aria-describedby="basic-addon3">
                    </div>
                    <p class="text-muted"><small>default http://</small></p>
                </div>
                <button type="submit" name="action" value="ping" class="btn btn-primary my-2">Check Ping Now</button>
            </form>

        </div>
        </div>
    </section>
    
    {% if form.errors %}
    <div class="alert alert-warning" role="alert">
        {{ form.errors }}
    </div>
    {% elif result %}
    <div class="alert alert-success" role="alert">
        {{ result }}
    </div>
    {% endif %}
{% endblock content %}
