{% load static %}
<!doctype html>
<html lang="en" data-bs-theme="dark">

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{core_conf.0.google_analytics}}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{core_conf.0.google_analytics}}');
    </script>

    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta_tags %}
    {% endblock meta_tags %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    
    <link rel="stylesheet" href="{% static 'resume/base.css' %}">

    <link rel="icon" type="image/png" href="{{ core_conf.0.favicon.url }}"/>

    <title>
        {% block title %}{% endblock title %}
    </title>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'resume' %}">{{ object_list.0.site_title }}</a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsSite" aria-controls="navbarsSite" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="navbar-collapse collapse" id="navbarsSite">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% for item in menu_single %}
              <li class="nav-item">
                <a class="nav-link" aria-current="page" target="_blank" href="{{ item.url }}">{{ item.title }}</a>
              </li>
            {% endfor %}
            {% for item in menu_parent %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" target="_blank" href="{{ item.url }}" id="dropdown05" data-bs-toggle="dropdown" aria-expanded="false">{{ item.title }}</a>
                  <ul class="dropdown-menu" aria-labelledby="dropdown05">
                    {% for submenuitem in submenu %}
                      {% if item == submenuitem.parent %}
                        <li><a class="dropdown-item" target="_blank" href="{{ submenuitem.url }}">{{ submenuitem.title }}</a></li>
                      {% endif %}
                    {% endfor %}
                  </ul>
              </li>
            {% endfor %}
            {% for item in menu_disabled %}
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{ item.title }}</a>
              </li>
            {% endfor %}
          </ul>
          <button
          type="button"
          class="btn btn-dark"
          data-theme-toggle>
            <i id="icon-sun-moon" class="bi bi-sun-fill"></i>
          </button>
        </div>
      </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

    <footer class="text-muted">
        <div class="container text-center aria-hidden="true"">
          <a href="mailto:{{ jumbotron.email }}" target="_blank"><i class="bi bi-envelope theme social-icons"></i></a>
          {% if social_account.linkedin != '' %}
            <a href="{{ social_account.linkedin }}" target="_blank"><i class="bi bi-linkedin theme social-icons"></i></a>
          {% endif %}
          {% if social_account.github != '' %}
            <a href="{{ social_account.github }}" target="_blank"><i class="bi bi-github theme social-icons"></i></a>
          {% endif %}
          {% if social_account.stackexchange != '' %}
            <a href="{{ social_account.stackexchange }}" target="_blank"><i class="bi bi-stack-overflow theme social-icons"></i></a>
          {% endif %}
          {% if social_account.instagram != '' %}
            <a href="{{ social_account.instagram }}" target="_blank"><i class="bi bi-instagram theme social-icons"></i></a>
          {% endif %}
          {% if social_account.twitter != '' %}
            <a href="{{ social_account.twitter }}" target="_blank"><i class="bi bi-twitter theme social-icons"></i></a>
          {% endif %}
          <p class="theme">{{ core_conf.0.copyr }} {% now "Y" %}</p>
        </div>
    </footer>

    <!-- Back to top button -->
    <button type="button" class="btn btn-secondary btn-floating btn-lg" id="btn-back-to-top">
      <i class="bi bi-arrow-up"></i>
    </button>

    <script src="{% static 'resume/base.js' %}"></script>
    <script src="{% static 'resume/theme-color.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    {% block footer_script %}
    {% endblock footer_script %}
  </body>

</html>