{% extends 'blog/base.html' %}
{% load static %}

{% block title %} | {{ object.title }}{% endblock title %}

{% block header %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('{% static 'blog/assets/img/home-bg.jpg' %}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                {% if object.language == 'en' %}
                    <div class="post-heading">
                {% else %}
                    <div class="post-heading" dir="rtl">
                {% endif %}
                        <h1>{{ object.title }}</h1>
                        <h2 class="subheading">{{ object.subheading }}</h2>
                        <span class="meta" dir="ltr">
                            By {{ object.author.name }}, {{ object.published_modified }}
                        </span>
                        <span class="meta" dir="ltr">
                            </br>
                            {% for tag in object.tag.all %}
                                <a href="{% url 'blog:tag' tag.slug %}">&nbsp#{{tag.title}}</a>
                            {% endfor %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block main %}
    <!-- Post Content-->
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {{object.content|safe}}
                </div>
            </div>
        </div>
    </article>
{% endblock main %}