{% extends 'blog/base.html' %}
{% load static %}

{% block meta_tags %}
    <meta name="description" content="{{ object.meta_description }}" />
    <meta name="author" content="{{ object.author.name }}" />
    <meta name="keywords" content="{{ object.keywords }}">
    <meta name="robots" content="{{ object.robots }}">
    <meta property="og:title" content="{{ object.title }}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:type" content="article" />
    <meta property='article:author' content="{{ object.author.name }}" />
    <meta property='article:published_time' content="{{ object.published_ymd }}" />
    <meta property='article:modified_time' content="{{ object.update_ymd }}" />
    <meta property='article:tag' content="{{ object.keywords }}" />
    <meta property="og:description" content="{{ object.meta_description }}" />
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{{ object.title }}"/>
    <meta name="twitter:description" content="{{ object.meta_description }}"/>
    <meta name="twitter:site" content="@{{ site.twitter_user }}"/>
    <meta name="twitter:creator" content="@{{ site.twitter_user }}"/>
    <!-- still no meta twitter:image, og:image, schema:image -->
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "Article",
            "headline": "{{ object.title }}",
            "alternativeHeadline": "{{ object.subheading }}",
            "author" : {
                "@type" : "Person",
                "name" : "{{ object.author.name }}"
            },
            "genre": "{{object.tag.first}}",
            "keywords": "{{ object.keywords }}",
            "url": "{{ request.build_absolute_uri }}",
            "datePublished": "{{ object.published_ymd }}",
            "dateCreated": "{{ object.create_ymd }}",
            "dateModified": "{{ object.update_ymd }}",
            "description": "{{ object.meta_description }}",
            "articleBody": "{{ object.content|striptags|truncatewords:30 }}"
        }
    </script>
{% endblock meta_tags %}

{% block title %} | {{ object.title }}{% endblock title %}

{% block header %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('{% static 'blog/assets/img/home-bg.jpg' %}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                {% if object.language == 'en' %}
                    <div class="post-heading">
                {% else %}
                    <div class="post-heading" dir="rtl">
                {% endif %}
                        <h1>{{ object.title }}</h1>
                        <h2 class="subheading">{{ object.subheading }}</h2>
                        <span class="meta" dir="ltr">
                            By {{ object.author.name }}, {{ object.published_modified }}
                        </span>
                        <span class="meta" dir="ltr">
                            </br>
                            {% for tag in object.tag.all %}
                                <a href="{% url 'blog:tag' tag.slug %}">&nbsp#{{tag.title}}</a>
                            {% endfor %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block main %}
    <!-- Post Content-->
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {{object.content|safe}}
                </div>
            </div>
        </div>
    </article>
{% endblock main %}