{% load static %}
<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ configurations.google_analytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ configurations.google_analytics }}');
    </script>

    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta_tags %}
    {% endblock meta_tags %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    
    <link rel="stylesheet" href="{% static 'resume/base.css' %}">
    <link rel="stylesheet" href="{% static 'blog/base.css' %}">

    <link rel="icon" type="image/png" href="{{ HTTP_HOST }}{{ configurations.favicon.url }}"/>

    <title>{{ blog_settings.blog_name }}{% block title %}{% endblock title %}</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand vazir-font" href="{% url 'blog:home' %}">{{ blog_settings.blog_name }}</a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsSite" aria-controls="navbarsSite" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="navbar-collapse collapse" id="navbarsSite">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'blog:home' %}">Home</a></li>
            <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'resume' %}">About</a></li>
            <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'blog:tagslist' %}">Tags</a></li>
          </ul>
          <button
          type="button"
          class="btn btn-dark"
          data-theme-toggle>
            <i id="icon-sun-moon" class="bi bi-sun-fill"></i>
          </button>
        </div>
      </div>
    </nav>

    {% block header %}
    {% endblock header %}

    {% block main %}
    {% endblock main %}

    <footer class="text-muted">
        <div class="container text-center aria-hidden="true"">
          <a href="mailto:{{ jumbotron.email }}" target="_blank"><i class="bi bi-envelope theme social-icons"></i></a>
            <a href="{{ social_accounts.linkedin }}" target="_blank"><i class="bi bi-linkedin theme social-icons"></i></a>
          <p class="theme">{{ configurations.0.copyright_text }} &copy; {% now "Y" %}</p>
        </div>
    </footer>

    <!-- Back to top button -->
    <button type="button" class="btn btn-secondary btn-floating btn-lg" id="btn-back-to-top">
      <i class="bi bi-arrow-up"></i>
    </button>

    <script src="{% static 'resume/base.js' %}"></script>
    <script src="{% static 'resume/theme-color.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    {% block footer_script %}
    {% endblock footer_script %}
  </body>

</html>