{% extends 'blog/base.html' %}
{% load static %}
{% load custom_tags %}

{% block meta_tags %}
    <meta name="description" content="{{ settings.meta_description }}" />
    <meta name="author" content="{{ settings.meta_author }}" />
    <meta name="keywords" content="{{ settings.keywords }}">
    <meta name="robots" content="{{ settings.robots }}">
    <meta property="og:title" content="{{ settings.title }}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ settings.meta_description }}" />
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{{ settings.title }}"/>
    <meta name="twitter:description" content="{{ settings.meta_description }}"/>
    <meta name="twitter:site" content="@{{ site.twitter_user }}"/>
    <meta name="twitter:creator" content="@{{ site.twitter_user }}"/>
    <!-- still no meta twitter:image, og:image, schema:image -->
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "WebPage",
            "name": "{{ object.title }}",
            "description": "{{ settings.meta_description }}",
            "author": {
                "@id": "{{ settings.meta_author }}"
            },
            "copyrightHolder": {
                "@id": "{{ settings.meta_author }}"
            },
            "copyrightYear": "{% now "Y-m-d" %}",
            "creator": {
                "@id": "{{ settings.meta_author }}"
            },
            "publisher": {
                "@id": "{{ settings.meta_author }}"
            },
            "headline": "{{ settings.title }}",
            "name": "{{ settings.title }}",
            "mainEntityOfPage": "{{ request.build_absolute_uri }}",
            "url": "{{ request.build_absolute_uri }}"
        }
    </script>
{% endblock meta_tags %}

{% block header %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('{% static 'blog/assets/bg.jpg' %}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>{{ settings.title }}</h1>
                        <span class="subheading">{{ settings.subtitle }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}
{% block main %}
    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {% for item in object_list %}
                    <!-- Post preview-->
                    {% if item.language == 'en' %}
                        <div class="post-preview">
                    {% else %}
                        <div class="post-preview" dir="rtl">
                    {% endif %}
                            <a href="{% url 'blog:article' item.slug %}">
                                <h2 class="post-title">{{ item.title }}</h2>
                                <h3 class="post-subtitle">{{ item.content|striptags|truncatewords:20|nbsp2space }}</h3>
                            </a>
                            <p class="post-meta" dir="ltr">
                                By {{ item.author.name }}, {{ item.published_modified }}
                                {% for tag in item.tag.all %}
                                    <a href="{% url 'blog:tag' tag.slug %}">&nbsp#{{tag.title}}</a>
                                {% endfor %}
                            </p>
                        </div>
                        <!-- Divider-->
                    <hr class="my-4" />
                {% endfor %}
                <!-- Pager-->
                {% if is_paginated %}
                    <div class="d-flex justify-content-end mb-4">
                        {% if page_obj.has_previous %}
                            <a class="btn btn-primary text-uppercase" href="{% url 'blog:home' page_obj.previous_page_number %}">Newer Posts →</a>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <a class="btn btn-primary text-uppercase ms-3" href="{% url 'blog:home' page_obj.next_page_number %}">Older Posts →</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock main %}
